@model IEnumerable<Vidley.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var customer in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "Customers", new {id = customer.Id})">@customer.Name</a>
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="js-delete btn-link">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='js-delete btn-link' data-customer-id=" + data + ">Delete</button>";
                        }
                    }]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure about that?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                //button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


