
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>


<form action="">
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mvoie</label>
        <input type="text" value="" class="form-control" />
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>
